@media(max-width: 1440px){
    .categorySet{
        width: 60%;
}
.firstContainer{
    font-size: 18px;
}
.firstContainer h3{
    font-size: 18px;
}
.categorySetPrice{
    font-size: 18px;
 }
}
@media(max-width: 1010px){
    .categorySet{
        width: 80%;
}
}
@media(max-width: 740px){
    .categorySet{
        width: 90%;
}
}
@media(max-width: 600px){
    body{
        margin: 0;
        padding: 0;
    }
    .headerLogo{
        font-size: 18px;
        }
        .menuContainer{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
        }
           .heartIcone{
               font-size: 20px;
           }
            .logoArrowContainer{
               width: 5%; 
               height: auto;
            }
            .headerLogoArrow{
                font-size: 20px; 
            }
            .headerLogoContainer{
                font-size: 20px;
                width: 80%;
                margin-left: 0px;
                }
            .headerLogo{
                font-size: 25px;
                }

    .firstSectionHeader{
        height: 400px;
        }
        .secondSection{
            margin-top: -90px; 
            background-color: #f5f6fa; 
        }
        .firstSectionHeaderImg{
            object-fit: cover ;
            border-radius: 0 0 50px 50px;
        }
        .headerImg{
            overflow: hidden;
            height: 100%;
        }
        .menu{
            align-items: flex-start;
        }
        .menuTitle{
            font-size: 28px;
            margin-left: 15px;
           }
           .category{
            align-items: center;
        }
     .categoryTitle{
       width: 90%;
       text-align: left;
       font-size: 20px;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
    }
       .categoryTitle:after{
        content: "";
        position: absolute;
        width: 12%;
        height: 2px;
        bottom: 0;
        left: 0;
        right:0;
        border-bottom: 3px solid #99e2d0;
    }
    .categorySetDescription{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }
               .category{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                }
.categorySet{
        width: 90%;
        height: 70px;
        background-color: white;
}
.firstContainer{
    font-size: 15px;
    overflow: hidden;
white-space: normal;
text-overflow: ellipsis;
}
.firstContainer h3{
    font-size: 17px;
}
.categorySetPrice{
    font-size: 15px;
 }
 .buttonContainer{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
 }
 .orderbutton{
   margin-top: 40px;
   margin-bottom: 60px;
   width: 80%;
   height: 60px;
   background-color: #9356dc;
   border:  #9356dc 1px solid;
   border-radius: 50px;
   color: white;
   font-size: 24px;
   cursor: pointer;
}
footer{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    height: 180px;
  }
  .footerContainer{
    padding: 15px;
  }
  .footerTitle{
    font-size: 20px; 
    color: white;
    width: 100%;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .footerInfo{
    font-size: 18px;
    color: white;
    cursor: pointer;  
    margin-bottom: 5px;
    width: 100%;
    padding-left:0;
  }
}
@media (max-width: 412px){
    .categorySetTitle{
        margin-left: 5px;
        width: 90%; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }
       .categorySet:hover .categorySetTitle{
            margin-left: 5px;
            width: 80% ;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }
            .categorySetDescription{
                margin-top: 5px;
                margin-left: 5px;
                width: 90%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
           .categorySet:hover .categorySetDescription{
            margin-top: 5px;
            margin-left: 5px;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }
            .secondContainer{
            width: 10px; 
            height: 20px;
            }
            .categorySetPrice{
            margin-top: 35px;
            font-size: 15px;
            margin-right: 10px;
            }
            .menuTitle{
                width: 70%;
                font-size: 22px;
            }
        }